//
// CubeKrowd Network - Glaceon UI stylesheet
//

// Colour palette
$gray-dark2:                #455a64 !default; // not in bootstrap
$gray-dark1:                #37474f !default; // not in bootstrap
$gray-dark:                 #263238 !default;
$gray:                      #55595c !default;
$gray-light:                #607d8b !default;
$gray-lighter:              #eceff1 !default;
$gray-lightest:             #ffffff !default;

$brand-primary:             #03A9F4 !default;
$brand-success:             #009688 !default;
$brand-info:                #263238 !default;
$brand-warning:             #ffc107 !default;
$brand-danger:              #f44336 !default;

$white:                     #ffffff !default; // not in bootstrap

// Global stuff
body {
    background: $gray-dark;
    color: $white;
}

.text-white, .text-white:hover, .text-white:active {
    color: $white;
}

.bg-muted {
    background: $gray-lighter;
}

.hide {
    display: none;
}

.link:hover {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.btn-danger {border-bottom: 5px solid #d32f2f;}
.btn-warning {border-bottom: 5px solid #FFA000;}
.btn-success {border-bottom: 5px solid #00796B;}
.btn-primary {border-bottom: 5px solid #0288D1;}
.btn-secondary {border-bottom: 5px solid #cccccc;}

.modal-content {
    border: 0;
    border-radius: 0;
    border-left: 1rem solid $gray-dark;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

.full-width {
    width: 100%;
}

// Header 1
#header1 {
    background: $gray-dark1;
    
    .h:hover {
        background: $gray-dark2;
    }
}

// Header 3
#header3 .row {
    background: $gray-dark1;
    text-align: center;
    
    .h:hover, .active {
        background: $gray-dark2;
    }
    
}

// Wallpaper image
#body-br {
    background: url(https://i.imgur.com/7zixMw4.jpg) fixed;
    background-position: center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 12rem;
}

// Footer
footer {
    line-height: 30px;
    
    hr {
        border-top: 4px solid white;
        margin-top: 0;
    }
    
    hr.t1 {
        border-top-color: $brand-danger;
    }
    
    hr.t2 {
        border-top-color: $brand-warning;
    }
    
    hr.t3 {
        border-top-color: $brand-success;
    }
    
    hr.t4 {
        border-top-color: $brand-primary;
    }
    
    a, a:hover, a:active {
        color: $white;
    }
    
    .fa {
        padding-top: 8px;
        width: 36px;
        height: 36px;
        font-size: 20px;
        text-align: center;
    }
    
    .fa-twitter {
        background-color: $brand-primary;
    }
    
    .fa-youtube {
        background-color: $brand-danger;
    }
    
    .fa-facebook {
        background-color: #0d47a1;
    }
    
    .fa-users {
        background-color: $brand-warning;
    }
}

// Staff page
.staff-bg {
    background-color: $gray-dark;
    height: 5rem;
}

.staff-bg-admin {border-bottom: 5px solid $brand-danger;}
.staff-bg-developer {border-bottom: 5px solid $brand-warning;}
.staff-bg-moderator {border-bottom: 5px solid $brand-primary;}
.staff-bg-helper {border-bottom: 5px solid $brand-success;}

.staff-head {
    margin-top: -3.5rem;
}

// Games page
.nav {
    background: $gray-dark1;
    color: $white;
}

.nav-item:hover {
    background: $gray-dark2;
}

// Community page
.board-header {
    padding: 0.5rem 1rem!important
}
