body {
  background: #263238;
  color: #ffffff; }

.text-white, .text-white:hover, .text-white:active {
  color: #ffffff; }

.bg-muted {
  background: #eceff1; }

.hide {
  display: none; }

.link:hover {
  cursor: pointer; }

.text-center {
  text-align: center; }

.btn-danger {
  border-bottom: 5px solid #d32f2f; }

.btn-warning {
  border-bottom: 5px solid #FFA000; }

.btn-success {
  border-bottom: 5px solid #00796B; }

.btn-primary {
  border-bottom: 5px solid #0288D1; }

.btn-secondary {
  border-bottom: 5px solid #cccccc; }

.modal-content {
  border: 0;
  border-radius: 0;
  border-left: 1rem solid #263238; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0; }

.full-width {
  width: 100%; }

#header1 {
  background: #37474f; }
  #header1 .h:hover {
    background: #455a64; }

#header3 .row {
  background: #37474f;
  text-align: center; }
  #header3 .row .h:hover, #header3 .row .active {
    background: #455a64; }

#body-br {
  background: url(https://i.imgur.com/7zixMw4.jpg) fixed;
  background-position: center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 12rem; }

footer {
  line-height: 30px; }
  footer hr {
    border-top: 4px solid white;
    margin-top: 0; }
  footer hr.t1 {
    border-top-color: #f44336; }
  footer hr.t2 {
    border-top-color: #ffc107; }
  footer hr.t3 {
    border-top-color: #009688; }
  footer hr.t4 {
    border-top-color: #03A9F4; }
  footer a, footer a:hover, footer a:active {
    color: #ffffff; }
  footer .fa {
    padding-top: 8px;
    width: 36px;
    height: 36px;
    font-size: 20px;
    text-align: center; }
  footer .fa-twitter {
    background-color: #03A9F4; }
  footer .fa-youtube {
    background-color: #f44336; }
  footer .fa-facebook {
    background-color: #0d47a1; }
  footer .fa-users {
    background-color: #ffc107; }

.staff-bg {
  background-color: #263238;
  height: 5rem; }

.staff-bg-admin {
  border-bottom: 5px solid #f44336; }

.staff-bg-developer {
  border-bottom: 5px solid #ffc107; }

.staff-bg-moderator {
  border-bottom: 5px solid #03A9F4; }

.staff-bg-helper {
  border-bottom: 5px solid #009688; }

.staff-head {
  margin-top: -3.5rem; }

.nav {
  background: #37474f;
  color: #ffffff; }

.nav-item:hover {
  background: #455a64; }

.board-header {
  padding: 0.5rem 1rem !important; }

/*# sourceMappingURL=style.css.map */
