<div id="registerFormSuccess" class="hide alert alert-info" role="alert">
    <strong>Registration completed!</strong> You are now logged in. Have a nice stay!
</div>
<div id="loginFormSuccess" class="hide alert alert-info" role="alert">
    <strong>Authentication completed!</strong> You are now logged in. Have a nice stay!
</div>

<ol class="breadcrumb">
    <li><span class="link text-primary" onclick="goto('#/')">CubeKrowd</span></li>
    <li>Error 404 - Not found</li>
</ol>

<h1 class="m-t-3 m-b-1 font-weight-bold">Error 404 - Not found!</h1>