<div id="registerFormSuccess" class="hide alert alert-info" role="alert">
    <strong>Registration completed!</strong> You are now logged in. Have a nice stay!
</div>
<div id="loginFormSuccess" class="hide alert alert-info" role="alert">
    <strong>Authentication completed!</strong> You are now logged in. Have a nice stay!
</div>

<ol class="breadcrumb">
    <li><span class="link text-primary" onclick="goto('#/')">CubeKrowd</span></li>
    <li>Community</li>
</ol>

<h1 class="m-t-3 m-b-1 font-weight-bold">CubeKrowd Forum</h1>
<!--Layout grid-->
<div class="container">
    <div class="row">
        <!--Forum Categories-->
        <div class="col-sm-9">
            <div class="container bg-info board-header font-weight-bold">
                <div class="row">
                    <div class="col-sm-8">Information</div>
                    <div class="col-sm-4 hidden-sm-down">Latest topic</div>
                </div>
            </div>
            <div class="container m-t-1">
                <div class="row">
                    <div class="col-sm-1 hidden-sm-down"><h2><i class="fa fa-file m-l-1 m-t-1" aria-hidden="true"></i><h2></div>
                    <div class="col-sm-7"><h5 class="m-l-1 m-t-2">Announcements</h5></div>
                </div>
            </div>
            <div class="container m-t-1">
                <div class="row">
                    <div class="col-sm-1 hidden-sm-down"><h2><i class="fa fa-file m-l-1 m-t-1" aria-hidden="true"></i><h2></div>
                    <div class="col-sm-7"><h5 class="m-l-1 m-t-2">Minor Announcements</h5></div>
                </div>
            </div>            
        </div>
        <!--Sidebar-->
        <div class="col-sm-3">
        
            <button type="button" class="btn btn-primary btn-lg full-width m-b-1 font-weight-bold" onclick="goto('#/rules');">Community Rules</button>
            
            <div class="container bg-info board-header font-weight-bold">
                <div class="row">
                    <div class="col-sm-12">Staff online</div>
                </div>
            </div>
            <div class="container board-header m-b-1 font-weight-bold">
                <div class="row">
                    <div class="col-sm-12 text-danger m-t-1"><img class="m-r-1" src="https://crafatar.com/avatars/bc664e94606740748bd4dc5aa7778efa" width="64px"> Weeksly</div>
                    <div class="col-sm-12 text-danger m-t-1"><img class="m-r-1" src="https://crafatar.com/avatars/3767d08f0d574c20abbd5db6e1bd3af0" width="64px"> TALLPUP</div>
                    <div class="col-sm-12 text-primary m-t-1"><img class="m-r-1" src="https://crafatar.com/avatars/35d7a5f6d33949e291a609ea59153b11" width="64px"> JaneGleed</div>
                </div>
            </div>
            
            <div class="container bg-info board-header font-weight-bold">
                <div class="row">
                    <div class="col-sm-12">Users online</div>
                </div>
            </div>
            <div class="container board-header m-b-1">
                <div class="row">
                    <div class="col-sm-12">Hichay, Sikatsu, enarkay, Dragon_TrollLP, Mathijs, teledong, Darko_266, brotherhoodofnod, Stimulation, Foorack, Sutima, TheExceed, MrFantik, Dakir, ssamjh, EncryptedPixel, DragonkillerIV, apirath, afj, Ayxa, gustav9797, Louis, Cldfire, tobikd1, level42, <span class="text-muted">and 52 more...</span></div>
                </div>
            </div>
        </div>
    </div>
</div>