<script type="text/javascript">
var hasha = window.location.hash.split('/');
if (hasha.length < 3) {
    goto('#/games/missilewars');
}
</script>

<div id="registerFormSuccess" class="hide alert alert-info" role="alert">
    <strong>Registration completed!</strong> You are now logged in. Have a nice stay!
</div>
<div id="loginFormSuccess" class="hide alert alert-info" role="alert">
    <strong>Authentication completed!</strong> You are now logged in. Have a nice stay!
</div>

<ol class="breadcrumb">
    <li><span class="link text-primary" onclick="goto('#/')">CubeKrowd</span></li>
    <li>Games</li>
</ol>

<h1 class="m-t-3 m-b-1 font-weight-bold">Games</h1>
<div class="row">
    <div class="col-md-3 p-t-1">
        <ul class="nav nav-pills nav-stacked font-weight-bold">
            <li class="nav-item">
                <div class="link nav-link" onclick="goto('#/games/creative');">
                    <i class="fa fa-angle-right" aria-hidden="true"></i> Creative
                </div>
            </li>
            <li class="nav-item">
                <div class="link nav-link" onclick="goto('#/games/survival');">
                    <i class="fa fa-angle-right" aria-hidden="true"></i> Survival
                </div>
            </li>
            <li class="nav-item">
                <div class="link nav-link" onclick="goto('#/games/skyblock');">
                    <i class="fa fa-angle-right" aria-hidden="true"></i> Skyblock
                </div>
            </li>
            <li class="nav-item">
                <div class="link nav-link" onclick="goto('#/games/fishslap');">
                    <i class="fa fa-angle-right" aria-hidden="true"></i> Fishslap
                </div>
            </li>
            <li class="nav-item">
                <div class="link nav-link active" onclick="goto('#/games/missilewars');">
                    <i class="fa fa-angle-right" aria-hidden="true"></i> Missile Wars
                </div>
            </li>
            <li class="nav-item">
                <div class="link nav-link" onclick="goto('#/games/icerunner');">
                    <i class="fa fa-angle-right" aria-hidden="true"></i> Ice Runner
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-9 p-t-1">
        
    </div>
</div>