<div id="registerFormSuccess" class="hide alert alert-info" role="alert">
    <strong>Registration completed!</strong> You are now logged in. Have a nice stay!
</div>
<div id="loginFormSuccess" class="hide alert alert-info" role="alert">
    <strong>Authentication completed!</strong> You are now logged in. Have a nice stay!
</div>

<ol class="breadcrumb">
    <li><span class="link text-primary" onclick="goto('#/')">CubeKrowd</span></li>
    <li>Latest News</li>
</ol>

<!--Layout grid-->
<div class="container">
    <div class="row">
        <div class="col-sm-4 p-a-1 bg-muted">
            <img src="https://i.imgur.com/QFMOuXH.jpg" class="img-fluid">
        </div>
        <div class="col-sm-8">
            <h2 class="m-t-1 font-weight-bold text-primary">The Official Missile Wars Server</h2>
            <h5 class="m-b-1">A MAP BY SETHBLING AND CUBEHAMSTER</h5>
            
            Missile Wars is a vanilla Minecraft mini-game where you launch missiles to destroy your opponent’s portal, while defending your own! Launch missiles by right clicking on the ground with missile eggs to launch missiles to the opponents portal and shield. Use any means to destroy incoming missiles.
            Checkout the <a href="https://www.youtube.com/watch?v=P9tqf-FZ8sM" target="_blank">official video</a> for more information.
            
        </div>
    </div>
</div>