<div id="registerFormSuccess" class="hide alert alert-info" role="alert">
    <strong>Registration completed!</strong> You are now logged in. Have a nice stay!
</div>
<div id="loginFormSuccess" class="hide alert alert-info" role="alert">
    <strong>Authentication completed!</strong> You are now logged in. Have a nice stay!
</div>

<ol class="breadcrumb">
    <li><span class="link text-primary" onclick="goto('#/')">CubeKrowd</span></li>
    <li>Staff</li>
</ol>

<h1 class="m-t-3 m-b-1 font-weight-bold">Staff</h1>

<h2 class="m-t-1 font-weight-bold text-danger">Admins</h2>
<div class="row">
    <div class="col-md-3 p-t-1">
        <div class="card">
            <div class="staff-bg staff-bg-admin"></div>
            <img class="img-fluid staff-head center-block" src="https://crafatar.com/renders/head/76c47dc440424411909cadf2681850f4">
            <div class="card-block text-center">
                <h4 class="card-title">JL2579</h4>
            </div>
        </div>
    </div>
    <div class="col-md-3 p-t-1">
        <div class="card">
            <div class="staff-bg staff-bg-admin"></div>
            <img class="img-fluid staff-head center-block" src="https://crafatar.com/renders/head/3767d08f0d574c20abbd5db6e1bd3af0">
            <div class="card-block text-center">
                <h4 class="card-title">TALLPUP</h4>
            </div>
        </div>
    </div>
    <div class="col-md-3 p-t-1">
        <div class="card">
            <div class="staff-bg staff-bg-admin"></div>
            <img class="img-fluid staff-head center-block" src="https://crafatar.com/renders/head/bc664e94606740748bd4dc5aa7778efa">
            <div class="card-block text-center">
                <h4 class="card-title">Weeksly</h4>
            </div>
        </div>
    </div>
    <div class="col-md-3 p-t-1">
        <div class="card">
            <div class="staff-bg staff-bg-admin"></div>
            <img class="img-fluid staff-head center-block" src="https://crafatar.com/renders/head/15e076a8151b47bda7148ecc25e6200c">
            <div class="card-block text-center">
                <h4 class="card-title">sad_dog</h4>
            </div>
        </div>
    </div>
    <div class="col-md-3 p-t-1">
        <div class="card">
            <div class="staff-bg staff-bg-admin"></div>
            <img class="img-fluid staff-head center-block" src="https://crafatar.com/renders/head/dc78382856f144d1849f88ed47ee3545">
            <div class="card-block text-center">
                <h4 class="card-title">Deviss</h4>
            </div>
        </div>
    </div>
</div>

<h2 class="m-t-1 font-weight-bold text-warning">Developers</h2>
<div class="row">
    <div class="col-md-3 p-t-1">
        <div class="card">
            <div class="staff-bg staff-bg-developer"></div>
            <img class="img-fluid staff-head center-block" src="https://crafatar.com/renders/head/7e1b2286e79446fdba8bf806dc7062e1">
            <div class="card-block text-center">
                <h4 class="card-title">Foorack</h4>
            </div>
        </div>
    </div>
    <div class="col-md-3 p-t-1">
        <div class="card">
            <div class="staff-bg staff-bg-developer"></div>
            <img class="img-fluid staff-head center-block" src="https://crafatar.com/renders/head/d61dde2575874e4fbeaa1523c025badd">
            <div class="card-block text-center">
                <h4 class="card-title">Dreadkyller</h4>
            </div>
        </div>
    </div>
    <div class="col-md-3 p-t-1">
        <div class="card">
            <div class="staff-bg staff-bg-developer"></div>
            <img class="img-fluid staff-head center-block" src="https://crafatar.com/renders/head/d54c1f1481674b01b528aa9bed9e4cfb">
            <div class="card-block text-center">
                <h4 class="card-title">Regice202</h4>
            </div>
        </div>
    </div>
    <div class="col-md-3 p-t-1">
        <div class="card">
            <div class="staff-bg staff-bg-developer"></div>
            <img class="img-fluid staff-head center-block" src="https://crafatar.com/renders/head/dbae444f3db74d9fbf6de6120f3b7dfe">
            <div class="card-block text-center">
                <h4 class="card-title">mrhappyoz</h4>
            </div>
        </div>
    </div>
    <div class="col-md-3 p-t-1">
        <div class="card">
            <div class="staff-bg staff-bg-developer"></div>
            <img class="img-fluid staff-head center-block" src="https://crafatar.com/renders/head/d675d662030b4201a24b88fd3da5f8c2">
            <div class="card-block text-center">
                <h4 class="card-title">letsgo00</h4>
            </div>
        </div>
    </div>
</div>

<h2 class="m-t-1 font-weight-bold text-primary">Moderators</h2>
<div class="row">
    <div class="col-md-3 p-t-1">
        <div class="card">
            <div class="staff-bg staff-bg-moderator"></div>
            <img class="img-fluid staff-head center-block" src="https://crafatar.com/renders/head/35d7a5f6d33949e291a609ea59153b11">
            <div class="card-block text-center">
                <h4 class="card-title">JaneGleed</h4>
            </div>
        </div>
    </div>
    <div class="col-md-3 p-t-1">
        <div class="card">
            <div class="staff-bg staff-bg-moderator"></div>
            <img class="img-fluid staff-head center-block" src="https://crafatar.com/renders/head/4e575474be2c4ca39983cb24c50f0a56">
            <div class="card-block text-center">
                <h4 class="card-title">Cacus</h4>
            </div>
        </div>
    </div>
    <div class="col-md-3 p-t-1">
        <div class="card">
            <div class="staff-bg staff-bg-moderator"></div>
            <img class="img-fluid staff-head center-block" src="https://crafatar.com/renders/head/52437f2664964840beb58c4dca42f03b">
            <div class="card-block text-center">
                <h4 class="card-title">SoloSwain</h4>
            </div>
        </div>
    </div>
</div>

<h2 class="m-t-1 font-weight-bold text-success">Helpers</h2>